<div class="footer">
    <div class="container">
        <div class="footer-section-nav">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-6 col-xs-8">
                    <div class="row">
                        <div class="footer-item">
                            <div class="footer-item__title">Жилье без посредников</div>
                            <ul>
                                <li><a href="{{ link_base_object }}doma/">Снять дом</a></li>
                                <li><a href="{{ link_base_object }}komnati/">Снять комнату</a></li>
                                <li><a href="{{ link_base_object }}1-komnatnie/">Снять 1-комнатную квартиру</a></li>
                                <li><a href="{{ link_base_object }}2-komnatnie/">Снять 2-комнатную квартиру</a></li>
                                <li><a href="{{ link_base_object }}3-komnatnie/">Снять 3-комнатную квартиру</a></li>
                                <li><a href="{{ link_base_object }}mnogokomnatnie/">Снять 4-комнатную и более</a></li>
                                <li><a href="/add/">Сдать квартиру</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8">
                    <div class="row">
                        <div class="footer-item">
                            <div class="footer-item__title">Информация</div>
                            <ul>
                                <li><a href="/help/">Помощь проекту</a></li>
                                <li><a href="/printsip-raboti/">Принцип работы</a></li>
                                <li><a href="/faq/">Вопросы и ответы</a></li>
                                <li><a href="/reviews/">Отзывы клиентов</a></li>
                                <li><a href="/feedback/">Связь с нами</a></li>
                                <li><a href="/blog/">Полезно знать (блог)</a></li>
                                <li><a href="/blanki-dogovorov/">Бланки договоров</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8">
                    <div class="row">
                        <div class="footer-item">
                            <div class="footer-item__title">Поддержка</div>
                            <ul>
                                <li>Тел.: +7 911 921 78 03</li>
                                <li>Е-mail: <a href="mailto:support@net-agenta.net">support@net-agenta.net</a></li>
                            </ul>
                            <div class="footer-item__title social">Мы в социальных сетях</div>
                            <div class="footer-item__cell-social">
                                <a href="https://vk.com/arendastopagent"><i class="fa fa-vk" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/netagentanet"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://www.facebook.com/netagenta"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://ok.ru/group/52746239934534"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 visible-md visible-lg">
                    <div class="row">
                        <div class="footer-item">
                            <div class="footer-item__title">Жилая недвижимость</div>
                            <ul>
                                <li><a href="/saint-petersburg/">в Санкт-Петербурге</a></li>
                                <li><a href="/moskva/">в Москве</a></li>
                                <li><a href="/novosibirsk/">в Новосибирске</a></li>
                                <li><a href="/ekaterinburg/">в Екатеринбурге</a></li>
                                <li><a href="/samara/">в Самаре</a></li>
                                <li><a href="/omsk/">в Омске</a></li>
                                <li><a href="/nizhniy_novgorod/">в Нижнем Новгороде</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="navy-line"></div>
        <div class="footer-copyright text-center">
            <p>© 2014 - {{ 'now'|date('Y') }} NET-AGENTA — база данных о недвижимости.</p>
            <p>Использование сайта означает согласие с <a class="link" href="/polzovatelskoe-soglashenie/">пользовательским соглашением</a> и <a class="link" href="/privacy/">политикой конфиденциальности</a>.
                <br>Использование материалов сайта возможно только при наличии активной ссылки на первоисточник.</p>
        </div>
    </div>
</div>
