<div class="row">
    <h1 class="text-center h3">Удобный сервис для продажи и аренды</h1>
    <div class="main_content_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-13">
                    <div class="division">
                        <ul>
                            <li><span>✓</span>Никаких посредников. Только прямые контакты собственников.</li>
                            <li><span>✓</span>Информация актуальна на 100% в день публикации.</li>
                            <li><span>✓</span>Никаких комиссий агенствам недвижимости или частным риэлторам.</li>
                            <li><span>✓</span>Ежедневно, в течении всего дня обновление базы.</li>
                            <li><span>✓</span>Совершенно бесплатно</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-11">
                    <div class="division">
                        <ul class="range-price">
                            <li><a href="/{{ city_alias }}/komnati/">Комнаты</a> — {{ range_price[2] }} руб.</li>
                            <li><a href="/{{ city_alias }}/1-komnatnie/">1 комнатные квартиры</a> — {{ range_price[3] }}  руб.</li>
                            <li><a href="/{{ city_alias }}/2-komnatnie/">2-х комнатные квартиры</a> — {{ range_price[4] }}  руб.</li>
                            <li><a href="/{{ city_alias }}/3-komnatnie/">3-х комнатные квартиры</a> — от {{ range_price[5] }} руб.</li>
                            <li><a href="/{{ city_alias }}/mnogokomnatnie/">4-х комнатные и более</a> — от {{ range_price[6] }}  руб.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="text-center">Аренда и продажа недвижимости в {{ city_name('p') }}</h3>
        <br>
        <p>
            Снять или купить жилье без посредников стало очень сложно. Почти все доски объявлений просто переполнены предложениями от риэлторов. Даже когда видишь объявление «сдам квартиру собственник» — оказывается, что это очередной риэлтор.
        </p>
        <p>
            Но выход есть — скажи нет риэлтору! У нас собрана почти вся информация от собственников. Только лучшие предложения от собственников, ни каких риэлторов и скрытых комиссий. Все объявления проходят строгую модерацию, неактуальные удаляются.
        </p>
        <p>
            net-agenta.net — это аренда и продажа жилой недвижимости без посредников. Мы помогаем хорошим людям найти свой дом, сдать и продать недвижимость. Мы работаем, чтобы ваша жизнь стала проще.
        </p>
        <br>
    </div>
</div>