<!doctype html>
<html lang="ru">
<head>
    {{ head|raw }}
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="header_geoselector">{{ city_name }} <span class="caret"></span></a>
            </li>
        </ul>
        <span class="navbar-text">— &nbsp; {{ count_object_city }} {{ count_object_city|plural('объект', 'объекта', 'объектов') }} недвижимости в базе</span>
        <ul class="nav navbar-nav pull-right">
            {% if is_anonymous %}
                <li class="nav-auth"><a data-toggle="modal" data-target="#modalAuth" href="#">Вход</a>/<a href="/register/">Регистрация</a></li>
            {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Личный кабинет <span class="caret animated"></span></a>
                    <ul class="dropdown-menu animated fadeIn">
                        <li class="drop-first"></li>
                        {% if is_admin %}
                            <li><a href="/admin/">Админпанель</a></li>
                        {% endif %}
                        <li><a href="/add/">Добавить объявление</a></li>
                        <li><a href="/account/data/">Мои объявления</a></li>
                        <li><a href="/account/profile/">Мой профиль</a></li>
                        <li><a href="/favorites/">Избранное (<span class="favorites_count">{{ favorites|length }}</span>)</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">Выход</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="header">
    <div class="container">
        <div class="logo pull-left"><a href="/" title="Онлайн база жилой недвижимости без посредников"><img src="/templates/default/img/logo2.png" alt="Онлайн база жилой недвижимости без посредников {{ site_name }}"></a></div>
        <div class="header-slogan pull-left hidden-xs hidden-sm">
            База недвижимости {{ city_name('r') }} за {{ 'now'|date('Y') }} год
        </div>
        <div class="header-button-add pull-right">
            <a href="/add/" class="btn btn-green"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp Новое объявление</a>
        </div>
    </div>
</div>

<div class="navbar navbar-default nav-full">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="{{ link_base_object }}" title="База объектов">База объектов</a></li>
            <li><a href="/map/" title="Ссылка">Поиск на карте</a></li>
            <li><a href="/printsip-raboti/" class="hidden-sm hidden-xs">Принцип работы</a></li>
            <li><a href="/reviews/">Отзывы</a></li>
            <li><a href="/faq/">Вопрос - ответ</a></li>
            <li><a href="/help/">Помощь проекту</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="signin">
        {% if error %}
            <div class="messages messages--error">
                {% for item in error %}
                    {{ item }} <br>
                {% endfor %}
            </div>
        {% endif %}
        <form role="form" action="" method="post">
            <h1>Авторизация на «NET AGENTA»</h1>
            <p class="">Вы здесь впервые? <a class="link" href="/register/">Зарегистрироваться</a></p>
            <div class="form-group">
                <input class="form-control" placeholder="Логин" required="" type="text" name="login">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Пароль" required="" type="password" name="password">
            </div>
            <div class="checkbox i-checks text-left">
                <div class="checkbox">
                    <input name="rememberme" id="CheckLogin" tabindex="0" type="checkbox" value="1">
                    <label for="CheckLogin">Запомнить меня</label>
                </div>
            </div>
            <button type="submit" class="btn btn-green btn-block">Войти</button>
            <a class="forgot-password" href="/restore/"><small>Забыли пароль?</small></a>
            <input type="hidden" name="do" value="enter" />
            <input type="hidden" name="returnUrl" value="{{ return_url }}" />
        </form>
        <div class="clearfix"></div>
        <div class="horizontal divider">Или</div>
        <div class="register-text-social text-center">Быстрый вход через социальные сети</div>
        {{ social_auther }}
    </div>
</div>
{% include 'footer.html.twig' %}
{% if is_anonymous %}
    <!-- Modal -->
    <div class="modal fade" id="modalAuth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-login" role="document">
            <div class="modal-content animated flipInY">
                <div class="pnmodal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Вход</h4>
                    </div>
                    <div class="modal-body">
                        <form id="ajaxFormLogin" class="form" role="form">
                            <div class="ajax-error"></div>
                            <div class="form-group">
                                <input placeholder="Email или логин" class="form-control" type="text" required min="3" data-error-msg="Необходимо ввести Email или логин"
                                       name="email">
                            </div>
                            <div class="form-group">
                                <input placeholder="Пароль" class="form-control" type="password" required min="4" data-error-msg="Необходимо ввести пароль"
                                       name="pass" autocomplete="off">
                                <span>
                                        <a href="/restore/">Напомнить?</a>
                                    </span>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <input name="rememberme" id="CheckLogin" tabindex="0" type="checkbox">
                                    <label for="CheckLogin">Запомнить меня</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-green pull-left" type="submit"><strong>Войти</strong></button>
                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <div class="modal-register">Вы здесь впервые?<br> <a class="link" href="/register/">Зарегистрироваться</a>
                        </div>
                        <div class="horizontal divider">Или</div>
                        <div class="modal-text-social">Быстрый вход через социальные сети</div>
                        {{ social_auther }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{{ js.footer|raw }}
</body>
</html>